<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    {% if title %}
    <title>Interview - {{ title }}</title>
    {% else %}
    <title>Interview</title>
    {% endif %}
</head>

<body>
    <form method="POST">
        {{ question }} <div class="tooltip">Help
            <span class="tooltiptext">{{ hint }}</span>
        </div>
        <br>
        {% if type=="bool" %}
            {% include "input_boolean.html" %}
        {% elif type=="str" and options is none %}
            {% include "input_str.html" %}
        {% elif type=="str" and options is not none %}
            {% include "input_str_options.html" %}
        {% elif type=="num"  and options is none %}
            {% include "input_num.html" %}
        {% elif type=="num" and options is not none %}
            {% include "input_num_options.html" %}
        {% endif %}
        <br>
    </form>

</body>

</html>